# Examen 3 de python

Los ejercicios de este Parcial se deben hacer de manera individual y se debe subir el notebook (.ipynb) al cvirtual. __Únicamente se calificarán los notebooks subidos al cvirtual.__

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Ejercicio 1

Cargar el archivo `csvExamen.csv` en un DataFrame con pandas (los índices son la columna 0) y responder las siguientes preguntas

In [4]:
#Celda para cargar el archivo en un dataframe
archivo = 'csvExamen.csv'

df = pd.read_csv(archivo)

df

    dato  col1  col2  col3  col4  col5
0      0   773    49  1145  4707  4299
1      1   841  1647   448   830   234
2      2  1790  2353  3311  2917  2645
3      3  2936  1209   682   487  1766
4      4  4147   953  1773  2531  1798
5      5  2417  2297   930   781  2289
6      6  3975  4955  3210   465  1158
7      7  4332  3002  4485  3871  1767
8      8  2970  1441  2811  1755  1137
9      9  4506  3280  4278   511  3395
10    10   122  2082     9  3643  2664
11    11   793  1306  2687   620  3137
12    12  3376  2984  4102  3756   645
13    13  3123  4922  1532  1252  1538
14    14  2356  2050   759  4896  2391

### Estimar los siguientes valores con numpy:

1. ¿Cuál es el valor promedio de la columna 3?
2. ¿Cuál es el valor más grande de la fila 13?
3. ¿Cuál es el valor promedio de los elementos de las 5 primeras filas y las primeras 2 columnas?
4. ¿Cuánto suman los elementos al cuadrado de la fila 0?
5. ¿Qué columna al sumar todos sus elementos, suma el valor más grande?

In [3]:
#Celda para solución del ejercicio
# 1:
df['col3'].mean()

2144.133333333333

In [26]:
# 2:
df.iloc[13,1:].max()

4922

In [30]:
# 3:
df.iloc[0:5,1:3].sum().sum() / 10

1669.8

In [33]:
# 4:
df.iloc[0,1:].apply(lambda x: x ** 2).sum()

42548205

In [37]:
# 5:
df.iloc[:,1:].sum().max()

38457

## Para ejercicio 2, 3 y 4

Sean $P_1$ y $P_2$ dos puntos en dos dimensiones, es decir, $P_1 = (x_1,y_1)$ y $P_2 = (x_2,y_2)$

La distancia euclidiana entre dos puntos $P_1$ y $P_2$  (en 2 dimensiones) está dada por:

$$d_E(P_1,P_2) = \sqrt{\left(\left(x_2-x_1\right)^2+\left(y_2-y_1\right)^2\right)} $$

En las siguiente celda debe crear tres puntos de dimensión 2.

In [ ]:
#Celda para crear los tres puntos en dos dimensiones
punto_1 =

## Ejercicio 2 

Grafique con matplotlib los tres puntos previamente generados en el plano cartesiano

In [ ]:
# Celda para solución del ejercicio

## Ejercicio 3 

Calcule las distancias entre los tres puntos y almacene los resultados en una matriz, que tenga la siguiente forma:

$$\left[\begin{matrix} d_E(P_1,P_1) & d_E(P_1,P_2) & d_E(P_1,P_3) \\ d_E(P_2,P_1) & d_E(P_2,P_2) & d_E(P_2,P_3) \\ d_E(P_3,P_1) & d_E(P_3,P_2) & d_E(P_3,P_3)\end{matrix}\right]$$

In [ ]:
#Celda para solución del ejercicio

## Ejercicio 4

Calcular la distancia de cada uno de los tres puntos al origen y almacenarlas en un diccionario

In [ ]:
#Celda para solución del ejercicio